* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}

.debug {
    .contenitore-card {
        border: dashed black 1px;
    }

    .card1 {
        border: dashed black 1px
    }

    .card2 {
        border: dashed black 1px
    }

    .card3 {
        border: dashed black 1px
    }

    .card4 {
        border: dashed black 1px
    }

    .card5 {
        border: dashed black 1px
    }

    .card6 {
        border: dashed black 1px
    }

}

:root {
    --primary-color-orange: #ff761b;
    --primary-color-red: red;
    --primary-color-black: black;
    --primary-color-white: white;
    --primary-color-green: green;
}

header {
    background-color: var(--primary-color-orange);
    padding: 15px;
    color: var(--primary-color-white);
    position: sticky;
    top: 0;
    z-index: 1;



    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .navbar img {
        width: 100px;
    }

    .sezioni-UDB ul {
        display: flex;
        gap: 8px;
        list-style: none;
    }

    .icone-menù ul {
        display: flex;
        gap: 8px;
        list-style: none;
    }

}

main {

    p {
        color: var(--primary-color-red);
        font-size: 10px;
    }

    h3 {
        font-size: 10px;
    }


    img {
        width: 100%;
    }

    .contenitore-card {
        max-width: 1200px;
        width: 80%;
        margin: 50px auto;

        card img:hover {
            transform: scale(1, 5);
        }


        .righe {
            display: flex;
            flex-wrap: wrap;
            /* margin: 0 -1rem; */
        }

        .colonna {
            width: calc(100% / 3);
            padding: 1rem;
        }

        .marche {
            font-size: 10px;
        }

        .card {
            font-size: small;
            position: relative;
        }

        .posizione {
            position: absolute;
            bottom: 20%;
        }

        .percentuale {
            border: solid var(--primary-color-red);
            background-color: var(--primary-color-red);
            font-size: 10px;
            color: white;
        }

        .sostenibiltà {
            border: solid var(--primary-color-green);
            background-color: var(--primary-color-green);
            color: white;
            font-size: 10px;
            padding: 0px 7px;

        }

        .icona {
            border: solid white;
            background-color: white;
            color: rgb(0, 0, 0);
            position: absolute;
            padding: 10px;
            top: 2%;
            left: 90%;
        }
    }
}

footer {
    background-color: var(--primary-color-black);
    padding: 15px;
    color: white;


    .footer-flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 25%;
    }

    .flex-icone {
        display: flex;
        gap: 6px;
    }

    .font_dimensione p {
        font-size: smaller;
    }

    h6 {
        padding-bottom: 7px;
    }

    .info-foot {
        padding-bottom: 4px;
    }
}

p span {
    color: var(--primary-color-black);
    text-decoration: line-through;
    font-size: 10px;
}

.card:hover {
    transform: scale(1.07);
    transition: 1s;
}



.img1:hover {
    content: url(../img/1b.webp);
}

.img2:hover {
    content: url(../img/2b.webp);
}

.img3:hover {
    content: url(../img/3b.webp);
}

.img4:hover {
    content: url(../img/4b.webp);
}

.img5:hover {
    content: url(../img/5b.webp);
}

.img6:hover {
    content: url(../img/6b.webp);
}