* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}

.debug {
    .contenitore-card {
        border: dashed black 1px;
    }

    .card1 {
        border: dashed black 1px
    }

    .card2 {
        border: dashed black 1px
    }

    .card3 {
        border: dashed black 1px
    }

    .card4 {
        border: dashed black 1px
    }

    .card5 {
        border: dashed black 1px
    }

    .card6 {
        border: dashed black 1px
    }

}

:root {
    --primary-color-orange: #ff761b;
    --primary-color-red: red;
    --primary-color-black: black;
    --primary-color-white: white;
    --primary-color-green: green;
}

header {
    background-color: var(--primary-color-orange);
    padding: 15px;
    color: var(--primary-color-white);


    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar img {
        width: 100px;
    }

    .sezioni-UDB ul {
        display: flex;
        gap: 8px;
        list-style: none;
    }

    .icone-menù ul {
        display: flex;
        gap: 8px;
        list-style: none;
    }

}

main {

    p {
        color: var(--primary-color-red);
    }

    img {
        width: 100%;
    }

    .contenitore-card {
        max-width: 1200px;
        width: 80%;
        margin: 50px auto;


        .righe {
            display: flex;
            flex-wrap: wrap;
            /* margin: 0 -1rem; */
        }

        .colonna {
            width: calc(100% / 3);
            padding: 1rem;
        }

        .marche {
            font-size: small;
        }

        .card {
            font-size: small;
            position: relative;
        }

        .posizione {
            position: absolute;
            bottom: 20%;
        }

        .percentuale {
            border: solid var(--primary-color-red);
            background-color: var(--primary-color-red);
            padding: 3px;
            color: white;
        }

        .sostenibiltà {
            border: solid var(--primary-color-green);
            background-color: var(--primary-color-green);
            color: white;
            padding: 2px;
            padding-left: 0px 5px;

        }

        .icona {
            border: solid white;
            background-color: white;
            color: rgb(0, 0, 0);
            position: absolute;
            padding: 10px;
            top: 2%;
            left: 90%;
        }
    }
}